/*font-face*/
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu.woff2') format('woff2'),
        url('../fonts/Ubuntu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu Bold';
    src: url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('../fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #343a40;
    padding: 30px 10px;
    font-family: 'Ubuntu';
    letter-spacing: -1px;
    line-height: 18px;
}

body > main.container { 
    max-width: 800px;
    background-color: #fff;
}

body > main > div > div.col-sm-5 {
    background-color: #ececec;
    padding: 40px 20px;
}

#nome > h1 {
    font-family: 'Ubuntu Bold';
    text-transform: uppercase;
    font-size: 1.9rem;
    letter-spacing: -2px;
    margin: 0;
}

h2{
    font-family: 'Ubuntu Bold';
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: -2px;
    line-height: 6px;
    padding: 20px 0 0;
}
body > main > div > div.col-sm-7 {
    background-color: #fff;
    padding: 40px 20px;
}

#objetivo > h2{
    padding: 10px 0 0;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1rem;
}